                            html,
                            body {
                                margin: 0;
                                padding: 0;
                            }
                            
                            #wrap {
                                width: 100%;
                                overflow: hidden;
                                background: #ccc;
                            }
                            
                            #main {
                                width: 100%;
                                background: #ccc;
                                position: relative;
                            }
                            
                            .page {
                                width: 100%;
                                margin: 0;
                            }
                            
                            #page1 {
                                background: url(../images/hero1.jpeg) no-repeat center center;
                                padding-top: 200px;
                                overflow: hidden;
                            }
                            
                            #page2 {
                                padding-top: 80px;
                                overflow: hidden;
                            }
                            
                            #page3 {
                                background-color: #ccc;
                                opacity: 0.5;
                                overflow: hidden;
                            }
                            
                            #page4 {
                                padding-top: 100px;
                                background: url(../images/testimonial-bg.jpg) no-repeat center center;
                            }
                            
                            .navbar-default {
                                width: 100%;
                                padding: 0;
                                margin: 0;
                                position: fixed;
                                z-index: 1;
                            }
                            
                            .square {
                                height: 350px;
                                width: 350px;
                                border: 1px white double;
                                border-collapse: separate;
                                margin: auto;
                                padding: 15px 15px;
                            }
                            
                            .square:hover {
                                transform: scale(1.2);
                                transition: 2s;
                            }
                            
                            .square-inner {
                                height: 320px;
                                width: 2;
                                background-color: white;
                                opacity: 0.5;
                                position: relative;
                            }
                            
                            .square-text {
                                position: absolute;
                                margin: 100px 120px;
                            }
                            
                            .nav_wrap {
                                position: fixed;
                                margin-top: 100px;
                                margin-left: 95%;
                            }
                            
                            .nav_bar_ul {
                                list-style: none;
                            }
                            
                            .nav_bar_ul li {
                                height: 15px;
                                width: 15px;
                                border-radius: 15px;
                                background-color: gray;
                                margin-top: 10px;
                            }
                            
                            #page2 img {
                                height: 260px;
                                width: 260px;
                            }
                            
                            .my-task {
                                width: 400px;
                                height: 400px;
                                background-color: #ccc;
                                border-radius: 400px;
                                margin: auto;
                                overflow: hidden;
                                box-shadow: 10px 10px 10px #888888;
                            }
                            
                            .task {
                                padding-top: 50px;
                                width: 400px;
                                height: 400px;
                                border-radius: 400px;
                                float: left;
                            }
                            
                            .task p {
                                width: 200px;
                                margin: auto;
                            }
                            
                            #task-two,
                            #task-three,
                            #task-four,
                            #task-five {
                                display: none;
                            }
                            
                            .buttons span {
                                margin-left: 5px;
                                display: inline-block;
                                width: 15px;
                                height: 15px;
                                border-radius: 50%;
                                background-color: #999;
                                text-align: center;
                                cursor: pointer;
                            }
                            
                            .buttons span:hover {
                                background-color: wheat;
                            }
                            
                            .wrap-1 {
                                width: 70px;
                                height: 70px;
                                position: fixed;
                                top: 90%;
                                left: 90%;
                                transform: translate(-50%, -50%);
                                /* perspective: 800px; */
                                display: none;
                            }
                            
                            .wrap-11 {
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                transform-style: preserve-3d;
                                /* 3d的方式 */
                                animation: rotate 5s 8s linear infinite both;
                                /* animation: name duration timing-function delay iteration-count direction; */
                            }
                            
                            .wrap-11 div {
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                box-sizing: border-box;
                                border: 1px solid black;
                                background-color: rgba(0, 0, 0, 0);
                                font: 16px "微软雅黑";
                                text-align: center;
                                line-height: 70px;
                            }
                            /* 设置矩形展开动画 */
                            
                            .wrap-11 a {
                                color: white;
                                text-decoration: none;
                            }
                            
                            .wrap-11 a:hover {
                                color: red;
                            }
                            
                            .top {
                                animation: top 1s 1s linear both;
                            }
                            
                            .bottom {
                                animation: bottom 1s 2s linear both;
                            }
                            
                            .left {
                                animation: left 1s 3s linear both;
                            }
                            
                            .right {
                                animation: right 1s 4s linear both;
                            }
                            
                            .back {
                                animation: back 2s 6s linear both;
                            }
                            
                            .front {
                                animation: front 2s 8s linear both;
                            }
                            
                            @keyframes top {
                                100% {
                                    transform: rotateX(90deg) translateZ(35px);
                                }
                            }
                            
                            @keyframes bottom {
                                100% {
                                    transform: rotateX(-90deg) translateZ(35px)
                                }
                            }
                            
                            @keyframes left {
                                100% {
                                    transform: rotateY(-90deg) translateZ(35px)
                                }
                            }
                            
                            @keyframes right {
                                100% {
                                    transform: rotateY(90deg) translateZ(35px)
                                }
                            }
                            
                            @keyframes back {
                                100% {
                                    transform: rotateY(180deg) translateZ(35px)
                                }
                            }
                            
                            @keyframes front {
                                100% {
                                    transform: translateZ(35px)
                                }
                            }
                            /* 定义整体旋转 */
                            
                            @keyframes rotate {
                                100% {
                                    transform: rotate3d(1, 1, 1, 360deg);
                                }
                            }
                            
                            .wrap-1:hover .wrap-11 div {
                                color: #fff;
                            }
                            
                            .wrap-1:hover .wrap-11 .top {
                                background-color: gray;
                            }
                            
                            .wrap-1:hover .wrap-11 .bottom {
                                background-color: gray;
                            }
                            
                            .wrap-1:hover .wrap-11 .left {
                                background-color: gray;
                            }
                            
                            .wrap-1:hover .wrap-11 .right {
                                background-color: gray;
                            }
                            
                            .wrap-1:hover .wrap-11 .front {
                                background-color: gray;
                            }
                            
                            .wrap-1:hover .wrap-11 .back {
                                background-color: gray;
                            }
                            
                            .task img {
                                height: 200px;
                                width: 200px;
                                display: block;
                                margin: auto;
                            }