 .wrap-1 {
     display: none;
 }
 
 #page2 .img {
     display: block;
     float: left;
 }
 
 #page2 img {
     height: 250px;
     width: 250px;
 }
 
 table {
     font-size: 20px;
     font-weight: 2;
     width: 600px;
 }
 
 td {
     width: 300px;
 }
 
 tr {
     height: 50px;
 }
 
 .card {
     width: 28%;
     height: 500px;
     background-color: white;
     float: left;
     margin-top: 100px;
     margin-left: 50px;
 }
 
 .center-content {
     margin: auto;
 }
 
 .card:hover {
     transform: rotateY(360deg);
     transition: 3s
 }
 
 .card img {
     display: block;
     width: 150px;
     height: 150px;
     border-radius: 150px;
     margin: auto;
     margin-top: 30px;
 }
 
 .text {
     text-align: center;
 }
 
 .card li {
     text-decoration: none;
     list-style: none;
     margin-bottom: 20px;
 }
 
 .buttons {
     position: absolute;
     left: 45%;
     bottom: 23%;
     width: 200px;
     height: 10px;
     /*z-index是堆叠顺序*/
     z-index: 2;
 }
 
 .box-lg {
     height: 400px;
     width: 500px;
     float: left;
     margin-top: 100px;
 }
 
 .box-lg h1,
 .box-lg h2 {
     text-align: center;
 }
 
 .page3-img {
     float: left;
 }
 
 .task {
     padding-top: 50px;
     width: 400px;
     height: 400px;
     border-radius: 400px;
     float: left;
 }
 
 .my-task {
     width: 400px;
     height: 400px;
     background-color: #ccc;
     border-radius: 400px;
     margin: auto;
     overflow: hidden;
     box-shadow: 10px 10px 10px #888888;
 }
 
 .square {
     height: 350px;
     width: 350px;
     border: 1px white double;
     border-collapse: separate;
     margin: 0 auto;
     padding: 15px 15px;
 }
 
 .square:hover {
     transform: scale(1.2);
     transition: 2s;
 }
 
 .square-inner {
     height: 320px;
     width: 2;
     background-color: white;
     opacity: 0.5;
     position: relative;
 }
 
 .square-text {
     position: absolute;
     margin: 100px 120px;
 }